body{
background-color:black;

}


.banner{
    height:600px;
	background-image: url(img/banner1.jpg);
    background-position:bottom;
    background-size: cover;
    border-bottom: solid 5px;
    border-color:#A5C5C5; 
    }




.menu a{
  font-family: 'Nova Flat', cursive;
  font-size: 20px;
  letter-spacing: 3px;
  text-decoration: none;
  color: #A5C5C5;
 

}


.menu a:hover{
  
  color: white;
}




.navbar{
	border-bottom:solid 5px;
	border-color: black;
}


.navbar img{

	margin-left: 30px;
	border:solid 5px;
	border-color: black;
}

.navitem1{
          
          border-left: solid 5px;
          border-color: black;

}

.titulomain{
	font-family: 'Sigmar One', cursive;
	color:#D5D38B; 
	padding-top:100px;
	padding-bottom: 40px;
	text-align: center;
	letter-spacing: 30px;
	font-size: 40px;
}



section .cuerpo{
	padding-top: 80px;
	margin:auto;

}

.main .card{
	margin-top: 30px,
}





.main{
	margin-top: 120px;
	align-items: center;
}

 .cuerpo{
 	margin-top: 60px;
 }

section.carousel{
    padding-top: 100px;
	max-width:500px; 
    align-items: center;
    margin:auto;
}

.cuerpo a {
	font-family: 'Nova Flat', cursive;
	letter-spacing: 8px;
	font-size: 20px;
	color: #A5C5C5;
     text-shadow: 5px 5px black;
}
.cuerpo a:hover{
	color: transparent;
	text-shadow: -5px -5px #A5C5C5;
}


footer {
	margin-top: 150px;
}

.nosotros{
    text-align: center;
    font-family: arial;
	font-size: 20px;
}













.menuconsolas{
    height: 450px;
	background-image: url(img/bannerconsola.jpg);
    background-position: all;
    background-size:cover;
    border-bottom: solid 5px;
    border-color:#A5C5C5; 
}


.titulocons{
	color:#D5D38B; 
	padding-top: 40px;
	text-align: center;
	letter-spacing: 30px;
	font-size: 40px;
}

.mainseccion div {
	background: radial-gradient(circle, black 0%, rgba(54,55,107,1) 100%);
    margin-top:30px; 
    margin-bottom:30px;
}

.mainseccion strong{
	color: white;
	font-size: 20px;
	letter-spacing: 8px;

}


.mainseccion p{
    font-family: 'Staatliches', cursive;
    color: white;
    letter-spacing: 5px;
    word-spacing: 5px;
	font-size: 20px;
}
















.menumic {
    height: 426px;
	background-image: url(img/micbanner.jpg);
    background-position: all;
    background-size:all;
    border-bottom: solid 5px;
    border-color:#A5C5C5; 
}






.secauris{
    height: 450px;
	background-image: url(img/aurisbanner.webp);
    background-position: center;
    background-size:cover;
    border-bottom: solid 5px;
    border-color:#A5C5C5; 
}




.container{
	border:solid 3px;
	border-color: white;
}


.iniciofinal button a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}


.iniciofinal button {
	
   text-decoration: none;
   background: linear-gradient(180deg, gray 0%, #A5C5C5 100%);
    transition: all .3s;
}


.iniciofinal button:hover{

	background: linear-gradient(180deg, gray 0%, black 100%);
    transition: all .3s;
}






.bodycontac{
	margin: 0;
	padding-top: 200px;
}


.marcash2{
	       font-family: 'Staatliches', cursive;
            color: white;
            
            
            text-align: center;
            letter-spacing: 5px; 
            font-size: 25px;
            text-shadow: 5px 5px black;
            color: white;
}



.marcas{
	
	background-color: trasparent;
	
	margin-top: 100px;
	border: solid 6px;

}




.imgmarcas{
	
	  display: flex;
	 justify-content: space-around;
	 margin-bottom: 80px;
	 margin-top: 50px;
	

}

.imgmarcas img{
             justify-items:space-around;
}


.form{
	margin: 0;
	padding-top: 100px;
}






.foo{
	  
	  background-color: #1B2631 ;
}

.Sobrenosotros{
           font-family: 'Staatliches', cursive;
            color: white;
            
            margin: auto;
            text-align: center;
            letter-spacing: 5px; 
            font-size: 25px;
            text-shadow: 5px 5px black;
            color: white;
}


 .Sobrenosotrosp{
            font-family: 'Overpass Mono', monospace;
            color: white;
            margin-left: 10px;
            letter-spacing: 3px;
            font-size: 22px;
}

.datos div p{
         font-family: 'Staatliches', cursive;
          color: white;
          font-size: 18px;
          letter-spacing: 3px;
}

.datos{
display: flex;
flex-direction:rows;
justify-content:space-evenly;
}



.item{
	 flex-direction:rows;
	 display: flex;
     align-items:flex-end;
}


.redes{
	margin-top: 15px;
     display: flex;
    justify-content:space-evenly;
    
}

.seguinos{
    font-family: helvetica;
  font-size: 18px;
  letter-spacing: 3px;
  text-decoration: none;
  color: #A5C5C5;
}

.email{
	color: white;
}



.contacto{
	margin-top: 100px;
}

.h3contacto{
	text-align: center;
	 font-family: 'Staatliches', cursive;
	color: gray;
	letter-spacing: 3px;
}


.fab{
	font-size: 50px;
}

button .fas{
	text-align: center;
	font-size: 45px;

}

.info{
	font-family: 'Roboto', sans-serif;
}


p .far {


	font-size: 35px;
}

p .fas {

	font-size: 35px;
}
