

body{
background-color:black;
 
}


.banner{
    height:400px;
	background-image: url(../img/banner.jpg);
   background-position: center;
    background-size: cover;
  }




.menu a{
  
  text-decoration: none;
  color: white;
}



.h1{
	letter-spacing:20px;
	text-align: center;
	padding-top: 85px ;
	color: white;
}
  

.audiomant{
	font-size: 18px;
	text-align: center;
	padding-top: 200px ;
	color: black;
	
}

.audiomant .subtitulo{
    background-color: gray;
	background-position: bottom;
    background-size: cover;
	border:solid 3px;
}

.titulomain{
	color:#D5D38B; 
	padding-top:100px;
	padding-bottom: 40px;
	text-align: center;
	letter-spacing: 30px;
	font-size: 40px;
}

section .cuerpo{
	padding-top: 80px;
	margin:auto;

}

.main .card{
	margin-top: 30px,
}





.main{
	margin-top: 120px;
	align-items: center;
}

 .cuerpo{
 	margin-top: 60px;
 }

section.carousel{
    padding-top: 100px;
	max-width:500px; 
    align-items: center;
    margin:auto;
}

.cuerpo a {
	
	letter-spacing: 8px;
	font-size: 20px;
}


footer {
	margin-top: 150px;
}

.nosotros{
    text-align: center;
    font-family: arial;
	font-size: 20px;
}













.menuconsolas{
    height: 400px;
	background-image: url(../img/bannerconsola.jpg);
    background-position: center;
    background-size: cover;
}


.titulocons{
	color:#D5D38B; 
	padding-top: 40px;
	text-align: center;
	letter-spacing: 30px;
	font-size: 40px;
}

.mainseccion div {
	
	
background: radial-gradient(circle, black 0%, rgba(54,55,107,1) 100%);
    margin-top:30px; 
    margin-bottom:30px;
}

.mainseccion strong{
	color: white;
	font-size: 20px;
	letter-spacing: 8px;

}


.mainseccion p{
    color: white;
    
    letter-spacing: 5px;
    word-spacing: 5px;
	font-size: 20px;
}
















.menumic {
    height: 400px;
	background-image: url(../img/micbanner.jpg);
    background-position: top;
    background-size: cover;
}



.h1mic{
	
	color:#D5D38B; 
	padding-top: 40px;
	text-align: center;
	letter-spacing: 30px;
	font-size: 40px;
}






.secauris{
    height: 400px;
	background-image: url(../img/aurisbanner.webp);
    background-position: center;
    background-size: cover;
}


.h1auris{
	color:#D5D38B; 
	margin-top: 30px;
	text-align: center;
	letter-spacing: 30px;
	font-size: 40px;
}

.container{
	border:solid 3px;
	border-color: white;
}


.iniciofinal button a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}


.iniciofinal button {
	
   text-decoration: none;
   background: linear-gradient(180deg, #65bce8 0%, #306485 100%);
    transition: all .3s;
}


.iniciofinal button:hover{

	background: linear-gradient(180deg, #fbde74 0%, #ff9900 100%);
    transition: all .3s;
}






.bodycontac{
	margin: 0;
	padding-top: 200px;
}


.h2con{

color: white;
}

.form{
	margin: 0;
	padding-top: 100px;
}


h3{
	color: white;
}
