@media(max-width: 991px){

.datos{
	display: inline-block;
}

.titulomain h1{
	font-size: 22px;
	 letter-spacing: 15px;
}

.cuerpo a{
	font-size: 14px;
}

}






@media(max-width: 768px){

.datos{
	display: inline-block;
}

.cuerpo a{
	font-size: 10px;
}

.titulomain h1{
	font-size: 20px;
	 letter-spacing: 11px;
}
}